<div id="menu">
    <div class="pure-menu-horizontal">
        <div class="pure-menu-logo">
          <a class="logo" href="/"><!--{{site.name}}-->HOME</a>
        </div>

        <ul class="pure-menu-list">
            <li class="pure-menu-item"><a href="/start.html" class="pure-menu-link">Get Started</a></li>
            <li class="pure-menu-item"><a href="/faq.html" class="pure-menu-link">FAQ</a></li>
            <li class="pure-menu-item"><a href="/contact.html" class="pure-menu-link">Contact</a></li>
        </ul>
    </div>
</div>
