<div id="menu">
    <div class="pure-menu-horizontal">
        <div class="pure-menu-logo">
          <a class="logo" href="/"><img src="/images/logo_example.svg"></a>
        </div>

        <ul class="pure-menu-list">
            <li class="pure-menu-item"><a href="/start/" class="pure-menu-link">Get Started</a></li>
            <li class="pure-menu-item"><a href="/posts/" class="pure-menu-link">Posts</a></li>
            <li class="pure-menu-item"><a href="/faq/" class="pure-menu-link">FAQ</a></li>
            <li class="pure-menu-item"><a href="/contact/" class="pure-menu-link">Contact</a></li>
        </ul>
    </div>
</div>
