body {
	margin: 100px 30px;
	padding: 0;
	background: #000;
}
#container {
	position: relative;
	width: 483px;
	margin: 0 auto;
	text-align: center;
}
#logo {
	width: 483px;
	height: 170px;
	margin: 0 auto;
	background: url('../images/blkwk_logo_type.png') no-repeat top center;
}
#logo span {
	display: none;
}
#contact {
	margin-top: 30px;
}
#contact a {
	background: #393939;
	font: 12px/20px 'Open Sans', Helvetica, Arial, sans-serif;
	font-weight: 300;
	color: #000;
	padding: 6px 18px;
	text-decoration: none;
	-webkit-transition: all 0.25s ease-in-out;
	-moz-transition: all 0.25s ease-in-out;
	-ms-transition: all 0.25s ease-in-out;
	-o-transition: all 0.25s ease-in-out;
	transition: all 0.25s ease-in-out;
}
#contact a:hover {
	background: #6a888c;
	color: #fff;
}
