@import "reset";
@import "syntax";
//@import "side-menu.scss";
@import "top-menu.scss";

body {
    background: white;
}

a {
  color: #be1e2d;
  -webkit-transition: all 0.2s ease-out;
  -moz-transition: all 0.2s ease-out;
  -ms-transition: all 0.2s ease-out;
  -o-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
  text-decoration: none;

  &:hover {
    color: #000;
  }

}


.highlight {
  margin: 0 auto;
  padding: 3px 20px;
  background: #B1C4FA;
}
